<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  {% block page_styles %}{% endblock %}
</head>
<body>

  {% include "partials/header.html" %}

  {% block content %}{% endblock %}

  {% include "partials/footer.html" %}

  <script src="{{ url_for('static', path='js/common.js') }}"></script>
  {% block page_scripts %}{% endblock %}

</body>
</html>