ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_SECRET_KEY=9e88dab123456789abcdef0123456789
ALGORITHM=HS256
SQLALCHEMY_DATABASE_URL=sqlite:///./app.db

# Dify API Settings
DIFY_API_URL="https://api.dify.ai/v1/chat-messages"
DIFY_API_KEY="app-xxxxxxxxxxxxxxxxxxxxxxxx"
DIFY_API_KEY_N="app-Zsszo5xLXULBArGE0wYKBSOu"
